<beast-comment-input>
  <div class="user">
    <%= render_avatar current_user %>
    <span class="name"><%= current_user.name %></span>
  </div>
  <%= render 'comments/form', post: component.locals.post %>
</beast-comment-input>
