@import 'desktop/globals';

.sidebar {
  width: 240px;

  section {
    margin: 0 0 64px 0;
    h3 {
      margin: 0 0 15px 0;
      color: #666666;
    }
  }

  .tags .tag-list {
    a {
      display: inline-block;
      margin: 0 8px 0 0;
    }
  }

  .features .feature-links {
    list-style: none;
    margin: 0;
    padding: 0 0 0 2px;

    li {
      line-height: 24px;
      margin: 0 0 2px 0;
    }
  }

}
