<beast-comment>
  <div class="left">
    <%= image_tag comment.user.avatar, class: 'avatar' %>
  </div>
  <div class="right">
    <div class="user-info">
      <div class="user-name"><%= comment.user.name %></div>
      <div class="created-at"><%= comment.created_at.strftime("%Y/%m/%d") %></div>
    </div>
    <div class="comment-content"><%= comment.content %></div>
  </div>
</beast-comment>
