@import 'desktop/_base';

beast-comment-list {
  h3 {
    font-size: 20px;
    color: #666666;
    margin: 0 0 32px 0;
  }

  &[empty='true'] {
    h3 {
      display: none;
    }
  }

  .comment {
    display: flex;
    margin: 0 0 32px 0;

    .left {
      flex: 0 0 auto;
      margin: 0 12px 0 0;
    }

    .right {
      flex: 1 1 auto;
      padding: 6px 0;
    }

    .title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 0 12px 0;

      .meta {
        display: flex;
        align-items: flex-end;

        .user-name {
          font-weight: bold;
          margin: 0 10px 0 0;
        }

        .created-at {
          font-size: 12px;
          color: $color-lighter-text;
        }
      }


      .links {
        font-size: 12px;
        display: none;
      }
    }

    .content {
      line-height: 1.6
    }

    &:hover .title .links {
      display: block;
    }
  }

  .more-comments {
    display: flex;
    justify-content: center;

    .link-fetch-comments {
      display: block;
      line-height: 32px;
      padding: 0 12px;
      background: #f5f5f5;
      border-radius: 2px;
      color: $color-light-text;

      &:hover {
        background: #efefef;
      }
    }

  }
}
