@import 'desktop/globals';

archives-show-page {
  .archive {
    margin: 0 0 64px 0;

    h2 {
      color: $lighter-grey-color;
      font-size: 32px;
      font-weight: normal;
      margin: 0 0 32px 0;
    }

    .posts {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        margin: 0 0 12px 0;

        a {
          color: $text-color;
          font-size: $font-size-l;
          font-weight: bold;

          &:hover {
            color: $link-color;
          }
        }
      }
    }

  }
  .posts {
    .post {
      line-height: 24px;
      a {
        text-decoration: none;
        color: $text-color;
      }
    }
  }
}
