@import 'default/base';

beast-header {
  height: 300px;
  display: block;
  background-image: url(image_path('banner.jpg'));
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  .content {
    padding-top: 96px;
    .company {
      width: 156px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .logo img {
        width: 48px;
      }
      .company-name {
        color: white;
        .chinese {
          font-weight: bold;
          font-size: 21px;
          line-height: 29px;
        }
        .english {
          font-size: 18px;
          opacity: 0.65;
        }
      }
    }
    .links {
      margin-top: 72px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .menu {
        ul {
          list-style: none;
          padding: 0px;
          display: flex;
          width: 204px;
          justify-content: space-between;
          li a {
            color: white;
            text-decoration: none;
          }
        }
      }
      .new-article {
        display: flex;
        align-items: center;
        a {
          color: white;
          text-decoration: none;
          margin-right: 16px;
        }
      }
    }
  }


}
