@import 'default/base';

button, .button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  min-width: 64px;
  height: 32px;
  color: white;
  background: #FF9D3A;
  border-radius: 2px;
  border: none;
  outline: none;
  &:hover {
    background: #FFAE5E;
  }
  &:active {
    background: #DD7B00;
  }
  &[disabled], .disabled {
    background: #F5F5F5;
    border-color: #E6E6E6;
    color: #CCCCCC;
    cursor: not-allowed;
  }
}
