beast-modal-box {
  display: flex;
  align-items: center;
  justify-content: center;
  .mask {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: #000;
    opacity: 0.8;
  }
  .box {
    position: fixed;
    top: 200px;
    background: white;
    width: 320px;
    border-radius: 8px;
    padding: 32px 20px;
    text-align: center;
  }
}
