@import 'default/base';

beast-post {
  article {
    .title {
      text-align: center;
      margin-bottom: $margin-size-5;
      a {
        color: $color-text;
        text-decoration: none;
        border-bottom: 2px solid #42b983;
        padding-bottom: 4px;
      }
    }
    .content {
      img {
        display: block;
        width: 80%;
        height: auto;
        margin: 0 auto;
      }
    }
  }
}
