@import 'default/base';

beast-post-list-item {
  display: block;
  article {
    .title {
      line-height: 40px;
      font-size: 20px;
      a {
        text-decoration: none;
      }
    }
    .info {
      font-size: 12px;
      .author, .created-at {
        color: $color-lighter-text;
      }
      .tags {
        color: $color-main;
      }
    }
  }
}
