@import 'desktop/_base';

invitations-edit-page {

  .invitation-box {
    width: 320px;
    padding: 32px;

    h1 {
      font-size: 20px;
      text-align: center;
      margin: 0;
    }

    tao-form {
      margin: 32px 0 0 0;

      .form-input {
        margin: 0 0 16px 0;

        .input-content, input {
          width: 100%;
        }
      }

      button,
      input[type='submit'] {
        width: 100%;
        margin: 32px 0 0 0;
      }
    }
  }

}
