@import 'default/base';

posts-show-page beast-page-content {
  .content {
    padding: 60px 0px;
    width: 640px;
    .title {
      text-align: center;
      font-size: 32px;
      text-decoration: none;
      color: $color-text;
    }
    .info {
      text-align: center;
      font-size: $font-size-small;
      line-height: 24px;
      .created-at {
        color: $color-lighter-text;
      }
      .tags, .tags a {
        color: $color-main;
      }
    }
    beast-post {
      display: block;
      padding: 20px 0 40px 0;
      border-bottom: 1px solid $color-border;
      .article-content {
        img {
          width: 100%;
          height: auto;
        }
      }
    }
    beast-comment-input {
      display: block;
      margin: 60px 0 30px 0;
      .author {
        display: flex;
        align-items: center;
        margin-bottom: 16px;
        img {
          margin-right: 8px;
        }
      }
      form {
        height: 160px;
        border: 1px solid $color-border;
        border-radius: 2px;
        padding: 10px;
        textarea {
          resize: none;
          border: none;
          height: 105px;
          width: 100%;
          outline: none;
          overflow: hidden;
        }
      }
    }
    .comments {
      label {
        font-size: 20px;
        font-weight: bold;
        color: #666666;
      }
      beast-comment {
        display: flex;
        margin-top: 30px;
        .left {
          margin-right: 8px;
        }
        .right {
          .user-info {
            display: flex;
            align-items: center;
            line-height: 24px;
            .user-name {
              font-weight: bold;
              margin-right: 8px;
            }
            .created-at {
              font-size: $font-size-small;
              color: $color-lighter-text;
            }
          }
          .comment-content {
            line-height: 24px;
            color: #666666;
          }
        }
      }
      .more-comments {
        height: 32px;
        background: $color-border;
        width: 120px;
        margin: 40px auto 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 2px;
        cursor: pointer;
        text-decoration: none;
        color: $color-light-text;
        &:hover {
          background: #E6E6E6;
          color: #666666;
        }
        &:active {
          background: #E6E6E6;
          color: $color-light-text;
        }
      }
      .no-comments {
        color: $color-lighter-text;
        text-align: center;
      }
    }
  }
}
