@import 'desktop/globals';

beast-post-autosave {
  display: none;
  font-size: $font-size-s;
  color: $lighter-grey-color;

  .time {
    margin: 0 4px;
  }

  &[last-save-time] {
    display: block;
  }
}
