<% @posts.each do |month, posts| %>
  <div class="archive-month">
    <h2 class="month-title">
      <%= month.strftime("%b %Y") %>
    </h2>
    <div class="posts">
      <% posts.each do |post| %>
        <div class="post">
          <%= link_to post.title, post_path(post), class: 'post-title' %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
