<% @posts.each do |month, posts| %>
  <div class="archive">
    <h2><%= month.strftime("%Y/%m") %></h2>
    <ul class="posts">
      <% posts.each do |post| %>
      <li>
        <%= link_to post.title, post_path(post.slug), class: 'link-post' %>
      </li>
      <% end %>
    </ul>
  </div>
<% end %>
