@import 'default/base';

html {
  box-sizing: border-box;
  height: 100%;

  *, *:before, *:after {
    box-sizing: inherit;
  }
}

body {
  font-family: "Helvetica Neue", "PingFang SC", "Microsoft Yahei", 微软雅黑, STXihei, 华文细黑, sans-serif;
  height: 100%;
  background: #ffffff;
  font-size: $font-size;
  color: $color-text;

  & > .page {
    display: block;
    margin: 0 auto;
  }

  .content {
    width: 960px;
    margin: 0 auto;
    padding: 0 0 60px 0px;
    &.horizontal {
      display: flex;
      justify-content: space-between;
      .left {
        width: 640px;
      }
      .right {
        width: 240px;
      }
    }
  }
}

p {
  line-height: 2.0;
}

img.avatar {
  height: 32px;
  width: 32px;
  border-radius: 16px;
}

a {
  text-decoration: none;
}
