@import 'default/base';

html {
  box-sizing: border-box;
  height: 100%;

  *, *:before, *:after {
    box-sizing: inherit;
  }
}

body {
  font-family: "Helvetica Neue", "PingFang SC", "Microsoft Yahei", 微软雅黑, STXihei, 华文细黑, sans-serif;
  height: 100%;
  background: #ffffff;
  font-size: $font-size;

  & > .page {
    display: block;
    width: 700px;
    margin: 0 auto;
  }
}

p {
  line-height: 2.0;
}
