// fonts
$font-size: 14px;
$font-size-small: 12px;
$font-size-big: 16px;

// colors
$color-text: #262626;
$color-light-text: #9b9b9b;
$color-lighter-text: #cccccc;
$color-main: #FF9C3A;
$color-border: #F5F5F5;

// Mixins
@mixin truncate-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
