<%= render partial: :comment, collection: comments %>
<div class="more-comments">
  <%= link_to t('.more_comments'), post_comments_path(post, page: (params[:page] || 1).to_i + 1),
    remote: true, data: {disable_with: t('.loading'), no_more: t('.no_more')} %>
</div>
