
// colors
$color-ui: #FF9C3A;

$color-text: #262626;
$color-light-text: #9b9b9b;
$color-lighter-text: #cccccc;
$color-border: #efefef;

$color-link: $color-ui;
$color-link-hover: #DB7D20;

$color-success: #55BB33;
$color-error: #FF6152;
$color-warn: #FFAA00;


// Mixins
@mixin truncate-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
