//= require tao

@import '_base';

html {
  box-sizing: border-box;
  height: 100%;

  *, *:before, *:after {
    box-sizing: inherit;
  }
}

a {
  text-decoration: none;
  color: $color-link;

  &:hover,
  &:active {
    color: $color-link-hover;
  }
}
