//= require tao
//= require tao/ui

@import 'globals';

.avatar {
  display: inline-block;
  border-radius: 100%;
  background: $lightest-grey-color;
  color: $white-color;
  overflow: hidden;
  text-align: center;
}
