@import 'desktop/globals';

.post-form header {
  display: flex;
  min-width: 1280px;
  height: 64px;
  padding: 0 18px;
  background: #ffffff;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;

  .left {
    display: flex;
    align-items: center;

    .link-return {
      display: block;
      width: 32px;
      height: 32px;
      padding: 10px;
      margin: 0 16px 0 0;
      background: #e6e6e6;
      border-radius: 100%;

      .icon-close {
        display: block;
        fill: #262626;
        width: 12px;
        height: 12px;
      }

      &:hover {
        opacity: 0.6;
      }
    }
  }

  .right {
    display: flex;
    align-items: center;

    .avatar {
      margin: 0 28px 0 0;
    }

    .button {
      margin: 0 16px 0 0;

      &:last-child {
        margin-right: 0;
      }
    }
  }

}
