<meta charset="utf-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<% if @turbolinks_no_cache %>
  <meta name="turbolinks-cache-control" content="no-cache">
<% elsif @turbolinks_no_preview %>
  <meta name="turbolinks-cache-control" content="no-preview">
<% end %>

<link rel="icon" type="image/png" href="/favicon.png" />

<!-- SEO optimize -->
<title><%= content_for(:title) || ENV['site_name'] %></title>

<%= csrf_meta_tags %>

<%= stylesheet_link_tag    'desktop/application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'desktop/application', 'data-turbolinks-track': 'reload' %>
