<meta charset="utf-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<link rel="icon" type="image/png" href="/favicon.png?v=2" />

<!-- SEO optimize -->
<title>BeastBlog</title>

<%= csrf_meta_tags %>

<%= stylesheet_link_tag    'default/all', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'default/all', 'data-turbolinks-track': 'reload' %>
